*{
  /* box-sizing: border-box; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
}

.Navbar-animation{
  animation: navbar 1s ease 0s 1 normal forwards;
}
@keyframes navbar {
	0% {
		transform: scaleX(0.4);
		transform-origin: 100% 100%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
	}
}

.resume-tabs-animate{
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
	0% {
	  -webkit-transform: scaleX(0.4);
			  transform: scaleX(0.4);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
	100% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
  }
  @keyframes scale-up-hor-left {
	0% {
	  -webkit-transform: scaleX(0.4);
			  transform: scaleX(0.4);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
	100% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
  }
  